<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo 2</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <h2>Update User</h2>
    <form action="/update-user" method="POST">
        <input type="number" name="id" placeholder="Enter User ID" required>
        <input type="text" name="name" placeholder="Enter new name" required>
        <button type="submit">Update User</button>
    </form>


</body>

</html>