<!-- Add your code here -->
 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Delete Book</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Delete the Book </h1>

  <form action="/delete-book" method="POST">
    <button type="submit">Delete book</button>
    <a href="/"><button type="button">Cancel</button></a>
  </form>
</body>
</html>
